# Regresion: Predecir la eficiencia del petroleo
En un ejercicio de regresion, el objetivo es predecir la salida de un valor continuo, algo asi como un precio o una probabilidad. En cosntraste a un problema de clasificacion, donde el objetivo es seleccionar un clases de una lista de clases. <br>
El dataset a usarse usa el clasico AUTO MPG (?) y construye un modelo para predecir la eficiencia del petroleo de los automoviles de los años 1970-1980.<br>
Para hacer esto proveeremos el modelo con una descripcion de mcuhos automoviles de ese periodo de tiempo. Esta descripcion incluye atributos como: cilindraje, caballos de fuerza y peso.
<br><b>Se usará tf.Keras</b>

In [10]:
#Se ussara seaborn para pairplot
!pip install -q seaborn

In [11]:
from __future__ import absolute_import, division, print_function 

import pathlib

import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

In [12]:
print(tf.__version__)

1.12.0

## El dataset Auto MPG
El dataset se lo jalara del UCI Machine Learning Repository
<br><b>Primero obtenemos el dataset</b>.

In [14]:
dataset_path = keras.utils.get_file("auto-mpg.data","https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data")
dataset_path

Downloading data from https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data
32768/30286 [================================] - 0s 6us/step

'/Users/brunosilva/.keras/datasets/auto-mpg.data'

Lo importamos usando pandas

In [15]:
column_names = ["MPG","Cylinders","Displacement","Horsepower","Weight","Acceleration","Model Year","Origin"]
raw_dataset =  pd.read_csv(dataset_path, names=column_names, na_values= "?", comment='\t', sep=" ", skipinitialspace=True)
dataset = raw_dataset.copy()
dataset.tail()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin
393,27.0,4,140.0,86.0,2790.0,15.6,82,1
394,44.0,4,97.0,52.0,2130.0,24.6,82,2
395,32.0,4,135.0,84.0,2295.0,11.6,82,1
396,28.0,4,120.0,79.0,2625.0,18.6,82,1
397,31.0,4,119.0,82.0,2720.0,19.4,82,1

In [17]:
dataset.index

RangeIndex(start=0, stop=398, step=1)

### Limpiamos el dataset
El dataset contiene unos valores desconocidos

In [18]:
dataset.isna().sum()

MPG             0
Cylinders       0
Displacement    0
Horsepower      6
Weight          0
Acceleration    0
Model Year      0
Origin          0
dtype: int64

Eliminamos las filas donde hay valores desconocidos (na)

In [19]:
dataset = dataset.dropna()

La columna "Origen" es categorico(?), no numerico. Se lo convertira en uno (?)

In [20]:
origin = dataset.pop("Origin")

In [21]:
dataset["USA"] = (origin == 1)*1.0
dataset["Europe"] = (origin == 2)*1.0
dataset["Japan"] = (origin == 3)*1.0
dataset.tail()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,USA,Europe,Japan
393,27.0,4,140.0,86.0,2790.0,15.6,82,1.0,0.0,0.0
394,44.0,4,97.0,52.0,2130.0,24.6,82,0.0,1.0,0.0
395,32.0,4,135.0,84.0,2295.0,11.6,82,1.0,0.0,0.0
396,28.0,4,120.0,79.0,2625.0,18.6,82,1.0,0.0,0.0
397,31.0,4,119.0,82.0,2720.0,19.4,82,1.0,0.0,0.0